section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
}

button {
  padding: 5px;
    margin-right: 5px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-btn {
  border: #086972 2px solid;
  color: #fff;
  font-size: 18px;
  background-color: #086972;
}
input[type="text"] {
  outline: none;
  border: none;
  padding: 8px;
  font-size: 18px;
  width: 400px;
  border-bottom: #086972 2px solid;
  margin-right: 20px;
}


.table-div {
  margin-top: 50px;
  width: 600px;
}

table {
  width: 100%;
}
td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.is-completed {
  text-decoration: line-through solid #149c7a 5px;
}
.delete-btn {
  width: 80px;
  border: #f85959 1px solid;
  color: #f85959;
  background-color: #fff;
}

.delete-btn:hover {
  border: #fff 1px solid;
  color: #fff;
  background-color: #f85959;
}
.complete-btn {
  width: 80px;
  border: #149c7a 1px solid;
  color: #149c7a;
  background-color: #fff;
}

.complete-btn:hover {
  border: #fff 1px solid;
  color: #fff;
  background-color: #149c7a;
}